.template {
  visibility: hidden;
}

* {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
body {
  background-image: url("http://kindersay.com/files/images/chicken.png");
}
h2 {
  color: blue;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 100px
}

li {
  background-color: white;
  border: 2px solid #000;
  height: 45px;
  opacity: .8;
  vertical-align: middle;

}
li:hover {
    background: yellow;
}

.button.alert {
  float: right;


}



